.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 80%;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  z-index: 999;
}
.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  color: #333; 
  margin-bottom: 25px;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
  transition: color 0.3s ease; 
}

.open {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.modal-text {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  color: #333; 
}

.modal-content.yellow .modal-text {
  color: #FFA500; 
}

.modal-content.yellow h2{
  color:#007BFF;
}

.close:hover {
  color: #007BFF;
}

.open:hover {
  background-color: #0056b3; 
}

.hidden {
  display: none;
}


.yellow {
  background-color:  yellow;
}